In [95]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df = pd.read_excel("Kepadatan Penduduk menurut Provinsi.xlsx")
df.head()

,Provinsi,Kepadatan Penduduk menurut Provinsi (jiwa/km2),Unnamed: 2,Unnamed: 3
0,NaN,2019.0,2020.0,2021.0
1,ACEH,93.0,91.0,92.0
2,SUMATERA UTARA,200.0,203.0,205.0
3,SUMATERA BARAT,130.0,132.0,133.0
4,RIAU,80.0,73.0,75.0

In [96]:
df = df.rename(columns={"Kepadatan Penduduk menurut Provinsi (jiwa/km2)":"2019","Unnamed: 2":"2020","Unnamed: 3":"2021"})
df.head()

         Provinsi    2019    2020    2021
0             NaN  2019.0  2020.0  2021.0
1            ACEH    93.0    91.0    92.0
2  SUMATERA UTARA   200.0   203.0   205.0
3  SUMATERA BARAT   130.0   132.0   133.0
4            RIAU    80.0    73.0    75.0

In [97]:
df.isna().sum()

Provinsi    2
2019        4
2020        4
2021        4
dtype: int64

In [98]:
df = df.dropna()
df.isna().sum()

Provinsi    0
2019        0
2020        0
2021        0
dtype: int64

In [99]:
provinsi_di_jawa = ['JAWA TIMUR','JAWA TENGAH','DI YOGYAKARTA', 'JAWA BARAT', 'JAKARTA', 'BANTEN']
is_in = df['Provinsi'].isin(provinsi_di_jawa)
df = df.loc[is_in]

In [100]:
df = df.sort_values(["Provinsi"])
df = df.reset_index(drop=True)
df.head()

        Provinsi    2019    2020    2021
0         BANTEN  1338.0  1232.0  1248.0
1  DI YOGYAKARTA  1227.0  1171.0  1185.0
2     JAWA BARAT  1394.0  1365.0  1379.0
3    JAWA TENGAH  1058.0  1113.0  1120.0
4     JAWA TIMUR   831.0   851.0   855.0

In [101]:
df.describe()

              2019         2020         2021
count     5.000000     5.000000     5.000000
mean   1169.600000  1146.400000  1157.400000
std     228.644484   189.799368   194.242889
min     831.000000   851.000000   855.000000
25%    1058.000000  1113.000000  1120.000000
50%    1227.000000  1171.000000  1185.000000
75%    1338.000000  1232.000000  1248.000000
max    1394.000000  1365.000000  1379.000000

In [102]:
heatmap_data = df.pivot(index='Provinsi',columns='')
plt.figure(figsize=(12,8))

sns.heatmap(df)
plt.show()

KeyError: "None of [''] are in the columns"